

<div style="padding-left: 20%">
  <div *ngIf="selectedInventoryItem.active">
    <div class="container">
      <img
        src="{{selectedInventoryItem.imgUrl}}"
        alt="Image"
        style="width:300px"
      />
      <h4>{{ selectedInventoryItem.name }}</h4>
      <p>
        <span>Offered by</span>
        <span class="linked">{{
          selectedInventoryItem.vendor.displayName
        }}</span>
      </p>
      <p>{{ selectedInventoryItem.description }}</p>
      <p>
        <span
          ><strong
            >{{ selectedInventoryItem.price | currency }} per day</strong
          ></span
        >
        {{ selectedInventoryItem.condition }} Condition
      </p>
      <br />
    </div>
  </div>
</div>

<div *ngIf="selectedItemRental">
  Returned: {{ !selectedItemRental.active }} <br />
  Total Amount paid: {{ selectedItemRental.paidAmount | currency }} <br />
  Start Date: {{ selectedItemRental.startDate | date }} <br />
  End Date: {{ selectedItemRental.endDate | date }} <br />
  Info: {{ selectedItemRental.transactionInfo }} <br />
  <button
    *ngIf="selectedItemRental.active"
    class="btn btn-danger"
    value="Return item"
    (click)="returnRentedItem()"
  >
    Return item
  </button>

  <button
    *ngIf="!selectedItemRental.active && !isPostingItemVendor()"
    class="btn btn-danger"
    value="Rent Again"
    (click)="viewInventoryItem()"
  >
    Rent again
  </button>

  <br /><br /><br />
  <h2>Comments</h2>
  <div *ngIf="allComments.length === 0">No comments have been posted</div>

  <!-- <button *ngIf="isPostingVendor(comment)">Update</button> -->

  <!--
    <button (click)="shouldUpdateCustomerComment=true" *ngIf="isPostingCustomer(comment) && !shouldUpdateCustomerComment">Update</button>
    <form *ngIf="shouldUpdateCustomerComment">
      <textarea name="commentText" id="" cols="40" rows="10" [(ngModel)]="comment.comment"></textarea>
      <br><button (click)="updateCustomerComment(comment)" >Post</button>
      <button (click)="shouldUpdateCustomerComment=false">Cancel</button>
    </form>
  -->



  <!-- comment that creates VendorComment -->


   <div *ngIf="allComments.length > 0">
      <div *ngFor="let comment of allComments">
        <div *ngIf="isVendor(comment)">

  <!--   Vendor comment expansion panel begin -->
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ comment.poster.displayName }} (Vendor)   commented on {{ comment.postDate | date: "medium" }} </mat-panel-title>
              <mat-panel-description>
                {{ panelOpenState ? "Show Comment" : "Hide Comment" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>

            </p>
            <span>
            <h4>{{ comment.comment }}</h4>
            <button
            class="btn btn-outline-danger"
            (click)="deleteVendorComment(comment.id)"
            *ngIf="isPostingVendor(comment) || currentUser.role === 'admin'"
          >
            Delete
          </button>
        </span>
          </mat-expansion-panel>


        </div>
  <!--   Vendor comment expansion panel end -->

        <div *ngIf="!isVendor(comment)">
            <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ comment.poster.displayName }} (Customer) </mat-panel-title>
              <mat-panel-description>
                 {{ panelOpenState ? "Show Comment" : "Hide Comment" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                 {{ comment.poster.displayName }} (Customer) commented on
                {{ comment.postDate | date: "medium" }}
                <button
                class="btn btn-outline-danger"
                (click)="deleteCustomerComment(comment.id)"
                *ngIf="isPostingCustomer(comment) || currentUser.role === 'admin'"
              >
                Delete
              </button>
            </p>
                <hr>
                <h4>{{ comment.comment }}</h4>

          </mat-expansion-panel>
        </div>
        </div>
        <hr />
      </div>
    <!-- </div> -->

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <span style="flex: 1 1 auto"></span>

  <!-- Create customer comment -->
  <form *ngIf="currentUser.customer.id === selectedItemRental.customer.id">
    <textarea
      name="commentText"
      id=""
      cols="40"
      rows="10"
      [(ngModel)]="newCustomerComment.comment"
    ></textarea>
    <br /><button (click)="postCustomerComment()">Post</button>
  </form>

<!-- vendor comment form-->
  <form
  *ngIf="
    currentUser.vendor &&
    vendorUser.vendor &&
    currentUser.vendor.id === vendorUser.vendor.id
  "
>
  <textarea
    name="commentText"
    id=""
    cols="40"
    rows="10"
    [(ngModel)]="newVendorComment.comment"
  ></textarea>
  <br /><button (click)="postVendorComment()">Post</button>
</form>




