<div *ngIf="selectedInventoryItem">
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      [src]="selectedInventoryItem.imgUrl"
      alt="image"
    />
    <div class="card-body">
      <h5 class="card-title">{{ selectedInventoryItem.name }}</h5>
      <p class="card-text">{{ selectedInventoryItem.description }}</p>
      <p class="card-text">{{ selectedInventoryItem.price | currency }}</p>
      <p class="card-text">{{ selectedInventoryItem.condition }}</p>
      <div *ngIf="authService.getToken()">
        <!-- <button class="btn btn-primary">Rent</button> -->
      </div>
    </div>
  </div>
  <br />
  <br />
  <h2>Rental information</h2>
</div>

<div *ngIf="selectedItemRental">
  Returned: {{!selectedItemRental.active}} <br>
  Total Amount paid: {{selectedItemRental.paidAmount | currency}} <br>
  Start Date: {{selectedItemRental.startDate}} <br>
  End Date: {{selectedItemRental.endDate}} <br>
  Info: {{selectedItemRental.transactionInfo}} <br>
  <button
  *ngIf="selectedItemRental.active"
  class="btn btn-danger"
  value="Return item"
  (click)="returnRentedItem()"
  >Return item</button>

  <button
  *ngIf="!selectedItemRental.active"
  class="btn btn-danger"
  value="Rent Again"
  (click)="viewInventoryItem()">Rent again</button>


  <div *ngIf="allComments.length > 0">
    <br><br><br>
    <h2>Comments</h2>
    <br>
    <div *ngFor="let comment of allComments">
      <!-- <p>Posted by: {{comment.poster.displayName}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{comment.postDate | date:'medium'}}</p> -->
      <p *ngIf="comment.poster.listedItems">{{comment.poster.displayName}} (Vendor) commented on {{comment.postDate | date:'medium'}}</p>
      <p *ngIf="!comment.poster.listedItems">{{comment.poster.displayName}} (Customer) commented on {{comment.postDate | date:'medium'}}</p>
      <h5>{{comment.comment}}</h5>
      <hr>
    </div>
  </div>


</div>
