<!-- Consider adding an itemView component that does not have rent option, or -->
<!-- Times Rented: {{itemViewed.allRents.length}} <br> -->
<!-- Total income:  {{amountEarnedTotal | currency}} -->
<div style="padding-left: 20%">    <div *ngIf="itemViewed.active">
    <div class="container">
        <img src="{{itemViewed.imgUrl}}" alt="Image" style="width:300px">
        <h4>{{itemViewed.name}}</h4>
        <p>{{itemViewed.description}}</p>
        <p><span><strong>{{itemViewed.price | currency}}</strong></span> {{itemViewed.condition}} Condition</p>
        <br>
        <p> Times Rented: {{itemViewed.allRents.length}} </p>
        <p> Total Income: {{amountEarnedTotal | currency}} </p>
          <!-- <button class="btn btn-dark" (click)="setEditVendorInventory(item)">Edit</button>
          <button class="btn btn-dark" (click)="setItemActiveToFalse(item)">Delete</button>
          <button class="btn btn-dark" (click)="viewRentalHistory(item)">Rental history</button> -->

      </div>
  </div>
</div>

<div *ngIf="itemViewed">
  <h3>Rental History</h3>
  <div *ngIf="itemViewed.allRents && itemViewed.allRents.length != 0">
    </div>

  <!-- <div *ngFor="let rental of itemViewed.allRents">
      <div class="info">
       <p >Customer: {{rental.customer.displayName}}</p>
       <p>From: {{rental.startDate | date}}</p>
       <p>To: {{rental.endDate | date}}
       </p>
       <p class="return" *ngIf="!rental.active">Returned</p>
       <p class="no-return" *ngIf="rental.active">Not returned</p>
       <p>Amount paid {{rental.paidAmount | currency}}</p>
       <p>Additional Info: {{rental.transactionInfo}}</p>
      </div>
    <hr>

  </div> -->

  <div *ngIf="itemViewed.allRents && itemViewed.allRents.length == 0">
    This item has not yet been rented.
  </div>

</div>
<hr>
    <div *ngFor="let rental of itemViewed.allRents">
    <div *ngIf="itemViewed.active">
      <br>
      <div class="container" (click)="viewRental(rental.id)">
          <img src="{{itemViewed.imgUrl}}" alt="Image" style="width:300px">
          <h4>{{rental.customer.displayName}}</h4>
          <h4 class="return" *ngIf="!rental.active">Returned</h4>
          <h4 class="no-return" *ngIf="rental.active">Not returned</h4>
          <p>From: {{rental.startDate | date}}</p>
          <p>To: {{rental.endDate | date}}</p>
          <p>
            <span><strong>Amount paid {{rental.paidAmount | currency}}</strong></span>
            <br> Additional Info: {{rental.transactionInfo}}
          </p>
          <br>

            <!-- <button class="btn btn-dark" (click)="setEditVendorInventory(item)">Edit</button>
            <button class="btn btn-dark" (click)="setItemActiveToFalse(item)">Delete</button>
            <button class="btn btn-dark" (click)="viewRentalHistory(item)">Rental history</button> -->

        </div>
    </div>
  </div>
