<p>
  inventory-item-view works!
  Id: {{id}}
</p>

<div *ngIf="selected" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="selected.imgUrl" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{selected.name}}</h5>
          <p class="card-text">{{selected.description}}</p>
          <p class="card-text">{{selected.price | currency}}</p>
          <p class="card-text">{{selected.condition}}</p>
          <div *ngIf="authService.getToken()">
              <button class="btn btn-primary">Rent</button>
              <button (click)="backToHome()" class="btn btn-primary">Back To Homes</button>
          </div>

        </div>
      </div>
  </div>
