<div *ngIf="selected">
  <!-- <button (click)="backToHome()" class="btn btn-primary">Home</button>
  <button
    (click)="toVendorInventory()"
    *ngIf="
      selected &&
      selected.vendor &&
      currentUser &&
      currentUser.vendor &&
      selected.vendor.id === currentUser.vendor.id
    "
    class="btn btn-primary"
  >
    Vendor Inventory
  </button> -->


  <div class="col-sm-6">
      <div class="card">

          <h3>{{selected.name}}</h3>
          <h6>{{selected.description}}</h6>
          <p><span>Offered by </span> <span (click)="viewVendor()" class="linked">{{selected.vendor.displayName}}</span></p>
          <div id="image">
              <img class="card-img-top" [src]="selected.imgUrl" alt="image">
          </div>
          <br>
          <h5>{{selected.price | currency}} per day</h5>
          <p><strong>{{selected.condition}} Condition </strong></p>
           <!-- <button class="btn btn-dark" *ngIf="!item.rented && !isOriginalUser" (click)="rentItem(item.id)">Rent Me</button>
           <button class="btn btn-dark" *ngIf="!item.rented && isOriginalUser" disabled>Rent Me</button> -->

      </div>
    </div>


  <!-- <div style="padding-left: 20%">    <div *ngIf="selected.active">
        <div class="container">
            <img src="{{selected.imgUrl}}" alt="Image" style="width:300px">
            <h4>{{selected.name}}</h4>
            <p><span>Offered by</span> <span (click)="viewVendor()" class="linked">{{selected.vendor.displayName}}</span></p>
            <p>{{selected.description}}</p>
            <p><span><strong>{{selected.price | currency}} per day</strong></span> {{selected.condition}} Condition</p>
            <br> -->

              <!-- <button class="btn btn-dark" (click)="setEditVendorInventory(item)">Edit</button>
              <button class="btn btn-dark" (click)="setItemActiveToFalse(item)">Delete</button>
              <button class="btn btn-dark" (click)="viewRentalHistory(item)">Rental history</button> -->

          <!-- </div>
      </div>
    </div> -->

    <br />
    <br />
  <!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="selected.imgUrl" alt="image" />
    <div class="card-body">
      <h5 class="card-title">{{ selected.name }}</h5>
      <p class="card-text" (click)="viewVendor()" *ngIf="selected.vendor">
        Vendor: {{ selected.vendor.displayName }}
      </p>
      <p class="card-text">{{ selected.description }}</p>
      <p class="card-text">
        {{ selected.price | currency }} per day + $5 one-time shipping and
        service fee
      </p>
      <p class="card-text">{{ selected.condition }}</p>
    </div>
  </div> -->
  <div *ngIf="(currentUser.vendor &&selected.vendor.id === currentUser.vendor.id)">
      You are the vendor for this item.
    </div>
  <div *ngIf="selected && selected.rented">This item is already rented</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <form
    *ngIf="
      selected &&
      currentUser &&
      !selected.rented &&
      (!currentUser.vendor || !(selected.vendor.id === currentUser.vendor.id))
    "
  >
    <h2>Rental information</h2>
    Rental Begins:
    <input
      type="date"
      name="BeginDate"
      placeholder="Begin Date"
      [(ngModel)]="itemRental.startDate"
      required
    />

    <br />
    Rental Ends:
    <input
      type="date"
      name="EndDate"
      placeholder="End Date"
      [(ngModel)]="itemRental.endDate"
      required
    />

    <br />
    <textarea
      class="form-control"
      rows="3"
      name="transactionInfo"
      placeholder="Delivery and transaction Info"
      [(ngModel)]="itemRental.transactionInfo"
      required
    ></textarea>

    <h2>Payment</h2>
    Valid through: <input type="Date" /> <br />
    <input type="text" placeholder="Card Owner" /> <br />
    <input type="number" placeholder="Credit Card Number" /> <br />
    <input type="text" placeholder="CVC" />

    <br />
    <input
      type="button"
      class="btn btn-danger"
      value="Proceed"
      (click)="persistItemRental()"
    />
  </form>
</div>
