<div>
  <div *ngIf="currentUser">
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      (click)="setEdit()"
    >
      Edit
    </button>

    <div *ngIf="!editUser">
      <div *ngIf="currentUser.customer.avatarURL">
        <img src="{{currentUser.customer.avatarURL}}" alt="" />
      </div>
      <h1>{{ currentUser.customer.displayName }}</h1>
      Email: {{ currentUser.email }} <br />
      Name: {{ currentUser.customer.displayName }} <br />

      <br>
      <h2 *ngIf="currentUser.customer.rentedItems && currentUser.customer.rentedItems.length != 0">Rental History</h2>
      <div
        *ngFor="let rental of currentUser.customer.rentedItems"
        class="card"
        style="width: 18rem;"
      >
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            [src]="rental.inventoryItem.imgUrl"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ rental.inventoryItem.name }}</h5>
            <p class="card-text">{{ rental.inventoryItem.description }}</p>
            <p class="card-text">
              Current Price: {{ rental.inventoryItem.price | currency }}
            </p>
            <p class="card-text">
              Condition: {{ rental.inventoryItem.condition }}
            </p>

            <h5 class="card-title">Rental info</h5>
            <p class="card-text">{{ rental.paidAmount | currency }}</p>
            <p class="card-text">Returned: {{ !rental.active }}</p>
            <p class="card-text">Date From: {{ rental.startDate }}</p>
            <p class="card-text">Date To: {{ rental.endDate }}</p>
            {{rental.inventoryItem.rente}}
            <p class="card-text">Instructions: {{ rental.transactionInfo }}</p>
                <button *ngIf="rental.active" (click)="viewRental(rental.id)" class="btn btn-primary">Return</button>
                <button *ngIf="!rental.active && !rental.inventoryItem.rented" (click)="viewItem(rental.inventoryItem.id)" class="btn btn-primary">Rent Again</button>
          </div>
        </div>

        <br>
        <br>
      </div>




    </div>
  </div>



  <div *ngIf="editUser">
    <h1>{{ editUser.email }}</h1>
    {{ editUser.password }}
    <form action="">
      Name:
      <input
        type="text"
        name="name"
        value="editUser.customer.displayName"
        [(ngModel)]="editUser.customer.displayName"
      /><br />
      Avatar URL:
      <input
        type="text"
        name="avatarURL"
        value="editUser.customer.avatarURL"
        [(ngModel)]="editUser.customer.avatarURL"
      /><br />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        (click)="updateCustomer(editUser)"
      >
        Submit
      </button>
      &nbsp;&nbsp;
      <button
        class="btn btn-danger my-2 my-sm-0"
        type="submit"
        (click)="cancelEdit()"
      >
        Cancel
      </button>
    </form>
    <br />
  </div>

  <!-- Make sure backend has inventory items -->
  <!-- Add the ability to rent the item again, return -->
</div>
