<div>

<div *ngIf="currentUser">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="setEdit()">Edit</button>


<div *ngIf="!editUser">
    <div *ngIf="currentUser.customer.avatarURL">
        <img src="{{currentUser.customer.avatarURL}}" alt="">
    </div>
  <h1>{{currentUser.customer.displayName}}</h1>
  Email: {{currentUser.email}} <br>
  Name: {{currentUser.customer.displayName}} <br>


  <div *ngIf="currentUser.vendor">Vendor profile (add the link)</div>
  <br>
  Items rented:  <div  *ngIf="currentUser.customer.rentedItems && currentUser.customer.rentedItems.length === 0"> No item rent history</div>
  <div *ngFor="let item of currentUser.customer.rentedItems">
    {{item.startDate}}
    {{item.endDate}}
    {{item.active}}
    {{item.paidAmount}}
    {{item.transactionInfo}}
  </div>
</div>


<div *ngIf="editUser">
  <h1>{{editUser.email}}</h1>
  {{editUser.password}}
  <form action="">
      Name: <input type="text" name="name" value="editUser.customer.displayName" [(ngModel)]="editUser.customer.displayName"  /><br>
      Avatar URL: <input type="text" name="avatarURL" value="editUser.customer.avatarURL" [(ngModel)]="editUser.customer.avatarURL"  /><br>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="updateCustomer(editUser)">Submit</button> &nbsp;&nbsp;
      <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="cancelEdit()">Cancel</button>
    </form>
  <br>
</div>


</div>
