<div>
  <!-- <div *ngIf="currentUser">
    <button
      class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="setEdit()">Edit</button>
    <button *ngIf="!currentUser.vendor" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="startVendorCreation()">
      Create a Vendor profile
    </button> -->

    <br><br><br><br><br>
    <!-- <h3 *ngIf="currentUser.customer.rentedItems && currentUser.customer.rentedItems.length != 0">Rental History</h3> -->

    <!-- <div *ngIf="!editUser && !createVendor"> -->
      <!-- <div *ngIf="currentUser.customer.avatarURL">
        <img src="{{currentUser.customer.avatarURL}}" alt="" />
      </div>
      <h1>{{ currentUser.customer.displayName }}</h1>
      Email: {{currentUser.email}} <br />
      Name: {{currentUser.customer.displayName}} <br /> -->



      <div *ngIf="currentUser && !editUser && !createVendor">
          <div class="container">
            <div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card" id="profile">
                    <h2>{{currentUser.customer.displayName}}</h2>
                    <img src="{{currentUser.customer.avatarURL}}" alt="Image"><br>
                    Email: {{currentUser.email}} <br />
                    Name: {{currentUser.customer.displayName}} <br />
                   <br>
                      <button class="btn btn-dark my-2 my-sm-0" type="submit" (click)="setEdit()">Edit</button>
                      <button *ngIf="!currentUser.vendor" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="startVendorCreation()">
                       Create a Vendor profile
                      </button>

                    <hr class="d-sm-none">
                  </div>
                </div>

                <div class="col-sm-8">

                  <div class="card" *ngFor="let rental of currentUser.customer.rentedItems">

                      <h3>{{rental.inventoryItem.name}}</h3>
                      <h6>{{rental.inventoryItem.description}}</h6>
                      <br>
                      <h5>{{rental.inventoryItem.price | currency}}</h5>
                      <p><strong>{{rental.inventoryItem.condition}} Condition </strong></p>
                      <img src="{{rental.inventoryItem.imgUrl}}" alt="Image"><br>
                      <hr>
                      <h4>Rental Info</h4>
                      <h6>{{rental.paidAmount | currency}}</h6>
                      <h6>Returned: {{!rental.active}}</h6>
                      <h6>Date From: {{rental.startDate | date}}</h6>
                      <h6>Date To: {{rental.endDate | date}}</h6>
                      <h6>Instruction: {{rental.transactionInfo}}</h6><br>
                      <button
                      *ngIf="rental.active"
                      (click)="viewRental(rental.id)"
                      class="btn btn-dark"
                    >
                      Return
                    </button>
                    <button
                      *ngIf="!rental.active && !rental.inventoryItem.rented"
                      (click)="viewItem(rental.inventoryItem.id)"
                      class="btn btn-dark"
                    >
                      Rent Again
                    </button>

                  </div>
                </div>
              </div>
            </div>

      </div>



      <!-- <h2 *ngIf="currentUser.customer.rentedItems && currentUser.customer.rentedItems.length != 0">Rental History</h2>
      <div
        *ngFor="let rental of currentUser.customer.rentedItems"
        class="card"
        style="width: 18rem;"
      >
        <div class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            [src]="rental.inventoryItem.imgUrl"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ rental.inventoryItem.name }}</h5>
            <p class="card-text">{{ rental.inventoryItem.description }}</p>
            <p class="card-text">
              Current Price: {{ rental.inventoryItem.price | currency }}
            </p>
            <p class="card-text">
              Condition: {{ rental.inventoryItem.condition }}
            </p>

            <h5 class="card-title">Rental info</h5>
            <p class="card-text">{{ rental.paidAmount | currency }}</p>
            <p class="card-text">Returned: {{ !rental.active }}</p>
            <p class="card-text">Date From: {{ rental.startDate |date }}</p>
            <p class="card-text">Date To: {{ rental.endDate | date }}</p>
             {{ rental.inventoryItem.rente }} -->
            <!-- <p class="card-text">Instructions: {{ rental.transactionInfo }}</p>
            <button
              *ngIf="rental.active"
              (click)="viewRental(rental.id)"
              class="btn btn-primary"
            >
              Return
            </button>
            <button
              *ngIf="!rental.active && !rental.inventoryItem.rented"
              (click)="viewItem(rental.inventoryItem.id)"
              class="btn btn-primary"
            >
              Rent Again
            </button>
          </div>
        </div>

        <br />
        <br />
      </div>
    </div>
  </div> -->

  <div *ngIf="editUser">
    <h1>{{ editUser.email }}</h1>
    {{ editUser.password }}
    <form action="">
      Name:
      <input
        type="text"
        name="name"
        value="editUser.customer.displayName"
        [(ngModel)]="editUser.customer.displayName"
      /><br />
      Avatar URL:
      <input
        type="text"
        name="avatarURL"
        value="editUser.customer.avatarURL"
        [(ngModel)]="editUser.customer.avatarURL"
      /><br />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        (click)="updateCustomer(editUser)"
      >
        Submit
      </button>
      &nbsp;&nbsp;
      <button
        class="btn btn-danger my-2 my-sm-0"
        type="submit"
        (click)="cancelEdit()"
      >
        Cancel
      </button>
    </form>
    <br />
  </div>

  <div *ngIf="createVendor">

    <form *ngIf="!shouldLogOut">
      Insert your vendor information: <br>
      Public Name:
      <input
        type="text"
        name="displayName"
        [(ngModel)]="createVendor.displayName"
      />
      imgUrl:
      <input type="text" name="imageURL" [(ngModel)]="createVendor.imgUrl" />
      About:
      <input type="text" name="about" [(ngModel)]="createVendor.about" /> &nbsp;
      <button (click)="createVendorProfile()">Submit</button> &nbsp;
      <button (click)="startVendorCreation()">Cancel</button>

      <br />
      Note: Upon completing this Form you will have to log in to see vendor
      tools.
    </form>

    <div *ngIf="shouldLogOut">
      You need to log out to view Vendor tools. <br>
      Would you like to log-out or stay in the customer mode. <br>
      <button (click)="logout()">Log out</button> &nbsp; <button (click)="refresh()">Stay</button>
    </div>
  </div>

  <!-- Make sure backend has inventory items -->
  <!-- Add the ability to rent the item again, return -->
</div>
