<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isCollapsed"
>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> User Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Vendor Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Cart</a></li>
    </ul>

    <button>Search</button>
    <form  *ngIf="authService.getToken()">
      <div class="form-group">
        <label for="inputsm"></label>
        <input class="form-control input-sm" id="inputsm" type="text">
      </div>
    </form>&nbsp;


    <!-- dropdown menu begin-->
    <div *ngIf="authService.getToken()" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-success dropdown-toggle"
        aria-controls="dropdown-basic">
        {{dropdownButtonText}}  <span class="caret"></span>
      </button>
      <ul id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item"  (click)="dropdownButtonText = 'Vendor' "  href="#">Vendor</a></li>
        <li role="menuitem">
          <a class="dropdown-item"  (click)="dropdownButtonText = 'Keyword' " href="#">Keyword</a>
        </li>
        <!-- <li role="menuitem">
          <a class="dropdown-item" (click)="dropdownButtonText = 'Category' " href="#">Category</a>
        </li> -->
        <li role="menuitem" dropdown triggers="mouseover" placement="left" container="body">
          <a dropdownToggle class="dropdown-item dropdown-toggle"
             (click)="false"> Category <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="dropdownButtonText = 'Testing'" href="#/dropdowns#nested">Testing</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action1</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action2</a></li>
          </ul>
        </li>
        <!-- <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Separated link</a>
        </li> -->
      </ul>
    </div>
    <!-- dropdown menu end-->

    <div>
      <app-login *ngIf="!authService.getToken()"></app-login>
      <app-logout *ngIf="authService.getToken()"></app-logout>
    </div>
  </div>
</nav>
