<mat-toolbar style=" padding-top: 20px">
  <span *ngIf="authService.getToken()" (click)="backToHome()">ShareWear</span> &nbsp;&nbsp;&nbsp;&nbsp;


  <button mat-button *ngIf="authService.getToken()" (click)="backToHome()"   >Home</button>
  <button mat-button *ngIf="authService.getToken()" (click)="viewCustomerProfile()"   >Customer Profile</button>
  <button mat-button  *ngIf="authService.getToken()  && loggedInUser && loggedInUser.vendor" (click)="viewVendorProfile()" >Vendor Profile</button>
  <button mat-button *ngIf="authService.getToken()"  (click)="loadVendors()">View Vendors</button>
  <app-login *ngIf="!authService.getToken()"></app-login>

<span style="flex: 1 1 auto"  ></span>
   <form class="example-form" *ngIf="authService.getToken()" >
      <mat-form-field class="example-full-width">
        <input matInput  name="keyword" [(ngModel)]="keyword">
      </mat-form-field>
    </form>

    <button mat-button [matMenuTriggerFor]="searchOptions" *ngIf="authService.getToken()">{{dropdownButtonText}}</button>
    <mat-menu #searchOptions="matMenu">
      <button *ngIf="authService.getToken()"  mat-menu-item [matMenuTriggerFor]="Categories">Categories</button>
      <button mat-menu-item (click)="dropdownButtonText = 'name'"   >Name</button>
      <button mat-menu-item (click)="dropdownButtonText = 'Vendor'" >Vendor</button>
    </mat-menu>
    <mat-menu #Categories="matMenu">
      <button *ngFor="let cat of categories"  (click)="selectCategory(cat)"  mat-menu-item>{{cat.name}}</button>
    </mat-menu>

    <button mat-button *ngIf="authService.getToken()" (click)="search()">Submit Search</button>
   <app-logout  *ngIf="authService.getToken()"></app-logout>


</mat-toolbar>
