<br>
<br>
<!-- <div *ngIf="!selected" >
  <div *ngFor="let item of inventoryItems" class="card" style="width: 18rem;">
    <div *ngIf="item.active">
      <img class="card-img-top" [src]="item.imgUrl" alt="image">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <div *ngIf="authService.getToken()">
            <button (click)="setSelectedItem(item)" class="btn btn-primary">View Item</button> -->
            <!-- <button (click)="openItemView(item.id)" class="btn btn-primary">View Item</button> -->
        <!-- </div>
      </div>
    </div>
  </div>
</div> -->


 <div class="center">
    <div class="card-deck">
          <div *ngFor="let item of inventoryItems; let i=index" class="item-card" style="width: 18rem;">
            <div *ngIf="item.active && i<6">
              <div class="card-block">
                <img class="card-img-top" [src]="item.imgUrl" alt="Item" height="300" width="auto">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="setSelectedItem(item)"><strong>{{item.name}}</strong></a>
                    <!-- <a href="" (click)="setSelectedItem(item)">{{item.name}}</a> -->
                  </h5>
                  <p class="card-text">{{item.description}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>


<div *ngIf="selected" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="selected.imgUrl" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{selected.name}}</h5>
          <p class="card-text">{{selected.description}}</p>
          <p class="card-text">{{selected.price | currency}}</p>
          <p class="card-text">{{selected.condition}}</p>
          <p class="card-text" *ngIf="selected.vendor" (click)="viewVendor()">Vendor: {{selected.vendor.displayName}}</p>
          <div *ngIf="authService.getToken()">
              <button (click)="openItemView(selected.id)" class="btn btn-primary">Rent</button>
              <button (click)="selected=null" class="btn btn-primary">Back</button>
          </div>
        </div>
      </div>
  </div>






